<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

  <%= google_fonts('Fira Code', 'Fira Sans') %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag('/main.css') %>
  <link rel="alternate"
        type="application/atom+xml"
        title="JubiGems"
        href="/atom.xml" />
  <%= yield_content :header %>
</head>
<body>
  <h1>puts 'JubiGems'</h1>
  <%= yield %>
</body>
</html>
